body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 21px;
}
h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
a {
    color: aquamarine;
    font-size: 16px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}
p {
    color: gray;
}
footer {
    text-align: right;
    color: gray;
}
img {
    text-align: center;
}
div:nth-of-type(2) {
    margin-top: 22px;
}